body {
  @include sprites($spritesheet-sprites);
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  box-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
  &.primary {
    background-color: #f7c044;
    width: 61px;
    height: 67px;
    .text {
      margin-bottom: 2px;
    }
    &:hover {
      background-color: #fcecc6;

      .text,
      .icon {
        opacity: 0.5;
      }
    }
  }
  &.continuar {
    background-color: #f7c044;
    width: 138px;
    height: 44px;
    justify-content: center;

    .text {
      font-size: 17px;
    }
    // &:hover {
    //   background-color: #fcecc6;

    //   .text,
    //   .icon {
    //     opacity: 0.5;
    //   }
    // }
  }
  &.iniciar {
    background-color: #c7b2ce;
    width: 221px;
    height: 70px;
    justify-content: center;

    .text {
      font-size: 36px;
    }
    &:hover {
      background-color: #eee8f0;

      .text,
      .icon {
        opacity: 0.5;
      }
    }
  }

  &.secondary {
    background-color: #f86d66;
  }
}
